---
import Layout from "../layouts/Layout.astro";
import Form2 from "../components/FeedbackForm.astro";
---

	<Layout title="MicroANPR: Automatic Number Plate Recognition (ANPR) as a service">
	<main>
		<Form2  />
	</main>
</Layout>

<style>
	main {
		margin-top: 10rem;
	}

</style>
