---
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation'
import ContactSection from '../components/Contact'
---

<Layout title="Contact - Henok Wehibe">
  <Navigation client:load />
  
  <main class="pt-20">
    <ContactSection client:load />
  </main>
</Layout>
