---
import { Image } from "astro:assets";
import ImgMain from "../images/saas.avif";
import ImgFeatre from "../images/saas1.svg";
import ImgDash from "../images/dash1.avif"
---

<div
    class="flex flex-col items-center justify-between space-y-2 sm:flex-row sm:space-y-0"
>
    <section
        class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
    >
        <div class="relative p-6 md:p-16">
            <div
                class="relative z-10 lg:grid lg:grid-cols-12 lg:items-center lg:gap-16"
            >
                <div
                    class="mb-10 lg:order-2 lg:col-span-6 lg:col-start-8 lg:mb-0"
                >
                    <h2
                        class="text-2xl font-bold text-neutral-800 dark:text-neutral-200 sm:text-3xl"
                    >
                        Customize  <span
                            >MicroANPR </span
                        >'s Services and Products to perfectly suit your ANPR needs.
                    </h2><nav
                        class="mt-5 grid gap-4 md:mt-10"
                        aria-label="Tabs"
                        role="tablist"
                    >
                        <button
                            type="button"
                            class="active rounded-xl p-4 text-start outline-none ring-zinc-500 transition duration-300 hover:bg-neutral-200 focus-visible:ring hs-tab-active:bg-neutral-50 hs-tab-active:shadow-md hs-tab-active:hover:border-transparent dark:ring-zinc-200 dark:hover:bg-neutral-700 dark:focus:outline-none dark:hs-tab-active:bg-neutral-700/60 md:p-5"
                            id="tabs-with-card-item-1"
                            data-hs-tab="#tabs-with-card-1"
                            aria-controls="tabs-with-card-1"
                            role="tab"
                            ><span class="flex"
                                ><svg
                                    class="mt-2 h-6 w-6 flex-shrink-0 fill-neutral-700 hs-tab-active:fill-[#fa5a15] dark:fill-neutral-300 dark:hs-tab-active:fill-[#fb713b] md:h-7 md:w-7"
                                    height="48"
                                    viewBox="0 -960 960 960"
                                    width="48"
                                    ><title></title><path
                                        d="M764-80q-6 0-11-2t-10-7L501-331q-5-5-7-10t-2-11q0-6 2-11t7-10l85-85q5-5 10-7t11-2q6 0 11 2t10 7l242 242q5 5 7 10t2 11q0 6-2 11t-7 10l-85 85q-5 5-10 7t-11 2Zm0-72 43-43-200-200-43 43 200 200ZM195-80q-6 0-11.5-2T173-89l-84-84q-5-5-7-10.5T80-195q0-6 2-11t7-10l225-225h85l38-38-175-175h-57L80-779l99-99 125 125v57l175 175 130-130-67-67 56-56H485l-18-18 128-128 18 18v113l56-56 169 169q15 15 23.5 34.5T870-600q0 20-6.5 38.5T845-528l-85-85-56 56-52-52-211 211v84L216-89q-5 5-10 7t-11 2Zm0-72 200-200v-43h-43L152-195l43 43Zm0 0-43-43 22 21 21 22Zm569 0 43-43-43 43Z"
                                        class=""></path></svg
                                >
                                <span class="ms-6 grow"
                                    ><span
                                        class="block text-lg font-bold text-neutral-800 dark:text-neutral-200"
                                        >Gain access to Cloud based MicroANPR. </span
                                    ><span
                                        class="mt-1 block text-neutral-800 hs-tab-active:text-neutral-800 dark:text-neutral-400 dark:hs-tab-active:text-neutral-200"
                                        >
                                        You don’t need to purchase, install, update,  maintain, any hardware, or software. 
                                        </span
                                    ></will ensure the availability and the security of the app and your data as well. SaaS allows your organization to get quickly up and running with an app at minimal upfront cost.span
                                ></span
                            ></button
                        ><button
                            type="button"
                            class="rounded-xl p-4 text-start outline-none ring-zinc-500 transition duration-300 hover:bg-neutral-200 focus-visible:ring hs-tab-active:bg-neutral-50 hs-tab-active:shadow-md hs-tab-active:hover:border-transparent dark:ring-zinc-200 dark:hover:bg-neutral-700 dark:focus:outline-none dark:hs-tab-active:bg-neutral-700/60 md:p-5"
                            id="tabs-with-card-item-2"
                            data-hs-tab="#tabs-with-card-2"
                            aria-controls="tabs-with-card-2"
                            role="tab"
                            ><span class="flex"
                                ><svg
                                    class="mt-2 h-6 w-6 flex-shrink-0 fill-neutral-700 hs-tab-active:fill-[#fa5a15] dark:fill-neutral-300 dark:hs-tab-active:fill-[#fb713b] md:h-7 md:w-7"
                                    height="48"
                                    viewBox="0 -960 960 960"
                                    width="48"
                                    ><title></title><path
                                        d="M510-570v-270h330v270H510ZM120-450v-390h330v390H120Zm390 330v-390h330v390H510Zm-390 0v-270h330v270H120Zm60-390h210v-270H180v270Zm390 330h210v-270H570v270Zm0-450h210v-150H570v150ZM180-180h210v-150H180v150Zm210-330Zm180-120Zm0 180ZM390-330Z"
                                        class=""></path></svg
                                >
                                <span class="ms-6 grow"
                                    ><span
                                        class="block text-lg font-bold text-neutral-800  dark:text-neutral-200 ]"
                                        >Intuitive Dashboards</span
                                    ><span
                                        class="mt-1 block text-neutral-800 hs-tab-active:text-neutral-800 dark:text-neutral-400 dark:hs-tab-active:text-neutral-200"
                                        >
                                        Navigate with ease using intuitive dashboards. 
                                        </span
                                    ></span
                                ></span
                            ></button
                        ><button
                            type="button"
                            class="rounded-xl p-4 text-start outline-none ring-zinc-500 transition duration-300 hover:bg-neutral-200 focus-visible:ring hs-tab-active:bg-neutral-50 hs-tab-active:shadow-md hs-tab-active:hover:border-transparent dark:ring-zinc-200 dark:hover:bg-neutral-700 dark:focus:outline-none dark:hs-tab-active:bg-neutral-700/60 md:p-5"
                            id="tabs-with-card-item-3"
                            data-hs-tab="#tabs-with-card-3"
                            aria-controls="tabs-with-card-3"
                            role="tab"
                            ><span class="flex"
                                ><svg
                                    class="h-6 w-6 flex-shrink-0 text-neutral-700 hs-tab-active:text-[#fa5a15] dark:text-neutral-300 dark:hs-tab-active:text-[#fb713b] md:h-7 md:w-7"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    ><title></title><path
                                        d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205 3 1m1.5.5-1.5-.5M6.75 7.364V3h-3v18m3-13.636 10.5-3.819"
                                        class=""></path></svg
                                >
                                <span class="ms-6 grow"
                                    ><span
                                        class="block text-lg font-bold text-neutral-800 hs-tab-active:text-[#fa5a15] dark:text-neutral-200 dark:hs-tab-active:text-[#fb713b]"
                                        >Robust Features</span
                                    ><span
                                        class="mt-1 block text-neutral-800 hs-tab-active:text-neutral-800 dark:text-neutral-400 dark:hs-tab-active:text-neutral-200"
                                        >Minimize complexity, maximize
                                        productivity and excellence.
                                        </span
                                    ></span
                                ></span
                            ></button
                        >
                    </nav>
                </div><div class="lg:col-span-6">
                    <div class="relative">
                        <div>
                            <div
                                id="tabs-with-card-1"
                                role="tabpanel"
                                class=""
                                aria-labelledby="tabs-with-card-item-1"
                            >
                                <Image
                                    src={ImgFeatre}
                                    class="aspect-[3/2] rounded-xl object-cover shadow-xl shadow-neutral-200 dark:shadow-neutral-900/[.2] lg:aspect-auto"
                                    alt="test"
                                    format={"avif"}
                                    loading={"eager"}
                                />
                            </div><div
                                id="tabs-with-card-2"
                                role="tabpanel"
                                class="hidden"
                                aria-labelledby="tabs-with-card-item-2"
                            >
                                <Image
                                    src={ImgDash}
                                    class="aspect-[3/2] rounded-xl object-cover shadow-xl shadow-neutral-200 dark:shadow-neutral-900/[.2] lg:aspect-auto"
                                    alt="test"
                                    format={"avif"}
                                    loading={"eager"}
                                />
                            </div><div
                                id="tabs-with-card-3"
                                role="tabpanel"
                                class="hidden"
                                aria-labelledby="tabs-with-card-item-3"
                            >
                                <Image
                                    src={ImgMain}
                                    class="aspect-[3/2] rounded-xl object-cover shadow-xl shadow-neutral-200 dark:shadow-neutral-900/[.2] lg:aspect-auto"
                                    alt="test"
                                    format={"avif"}
                                    loading={"eager"}
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script is:inline src="/scripts/vendor/preline/tabs/index.js"></script>