---
import { Image } from "astro:assets";
import ImgMain from "../images/Registration_Plate.svg";
import ImgFeatre from "../images/blueprints-image2.avif";
import ImgDash2 from "../images/dash2.avif";
import ImgDash1 from "../images/dash1.avif";
import ImgBluePrint from "../images/blueprint-1.avif";
import ImgBluePrint2 from "../images/blueprint-2.avif";
---

<div
    class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8"
    data-astro-cid-ouamjn2i=""
>
    <main data-astro-cid-ouamjn2i="">
        <div
            id="overlay"
            class="fixed inset-0 bg-neutral-200 dark:bg-neutral-800"
            style="opacity: 0; visibility: hidden;"
        >
        </div><section
            class="mx-auto flex max-w-[85rem] flex-col px-2 py-2 sm:px-2 lg:px-8 lg:py-14 2xl:max-w-full"
        >
            <div>
                <p
                    id="fadeText"
                    class="mb-8 max-w-prose text-pretty font-light text-neutral-700 dark:text-neutral-300 sm:text-xl"
                    style="translate: none; rotate: none; scale: none; will-change: transform, opacity; transform: translate(0px, 0px); opacity: 1; visibility: inherit;"
                >
                    Upload an unlimited number of video files of any length for ANPR lookup.
                </p>
            </div><div
                class="flex flex-col items-center justify-between space-y-4 sm:flex-row sm:space-y-0"
            >
                <div id="fadeInUp">
                    <h1
                        class="block text-4xl font-bold tracking-tighter text-neutral-800 dark:text-neutral-200 sm:text-5xl md:text-6xl lg:text-7xl"
                    >
                        MicroANPR
                    </h1><p
                        class="text-lg text-neutral-600 dark:text-neutral-400"
                    >
                        Entry Level ANPR
                    </p>
                </div><div>
                    <Image
                        src={ImgDash1}
                        class="w-[600px]"
                        loading={"eager"}
                        alt="dashboard picture"
                        loading="eager"
                        width="1920"
                        height="1920"
                    />
                </div>
            </div>
        </section><div
            class="mx-auto max-w-[85rem] px-0 pt-10 sm:px-0 lg:px-0 lg:pt-0"
        >
            <nav
                class="mx-auto grid max-w-6xl gap-y-px sm:flex sm:gap-x-4 sm:gap-y-0"
                aria-label="Tabs"
                role="tablist"
            >
                <button
                    type="button"
                    class="active flex w-full justify-center rounded-xl border border-transparent bg-neutral-100 p-3 outline-none ring-zinc-500 transition duration-300 hover:border-transparent hover:bg-neutral-100 focus-visible:ring dark:bg-white/[.05] dark:ring-zinc-200 dark:hover:bg-neutral-700 dark:focus:outline-none md:p-5"
                    id="tabs-with-card-item-1"
                    data-target="#tabs-with-card-1"
                    role="tab"
                    ><span
                        class="block text-center font-bold text-[#fa5a15] dark:text-[#fb713b]"
                        >Description</span
                    ></button
                ><button
                    type="button"
                    class="flex w-full justify-center rounded-xl border border-transparent p-3 outline-none ring-zinc-500 transition duration-300 hover:bg-neutral-100 focus-visible:ring dark:ring-zinc-200 dark:hover:bg-neutral-700 dark:focus:outline-none md:p-5"
                    id="tabs-with-card-item-2"
                    data-target="#tabs-with-card-2"
                    role="tab"
                    ><span
                        class="block text-center font-bold text-neutral-800 dark:text-neutral-200"
                        >Specifications</span
                    ></button
                ><button
                    type="button"
                    class="flex w-full justify-center rounded-xl border border-transparent p-3 outline-none ring-zinc-500 transition duration-300 hover:bg-neutral-100 focus-visible:ring dark:ring-zinc-200 dark:hover:bg-neutral-700 dark:focus:outline-none md:p-5"
                    id="tabs-with-card-item-3"
                    data-target="#tabs-with-card-3"
                    role="tab"
                    ><span
                        class="block text-center font-bold text-neutral-800 dark:text-neutral-200"
                        >Blueprints</span
                    ></button
                >
            </nav><div class="mt-12 md:mt-16">
                <div id="tabs-with-card-1" role="tabpanel">
                    <div
                        class="mx-auto max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8 lg:pb-14"
                    >
                        <div class="grid gap-12 md:grid-cols-2">
                            <div class="lg:w-3/4">
                                <h2
                                    class="text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:leading-tight lg:text-4xl"
                                >
                                    Automatic Number Plate Recognition (ANPR) as
                                    a service
                                </h2><p
                                    class="mt-3 text-pretty text-neutral-600 dark:text-neutral-400"
                                >
                                    MicroANPR allows your organization to get
                                    quickly up and running at minimal upfront
                                    cost.
                                </p><p class="mt-5">
                                    <a
                                        class="group inline-flex items-center justify-center gap-x-2 rounded-lg border border-transparent bg-[#fa5a15] px-4 py-3 text-sm font-bold text-neutral-50 outline-none ring-zinc-500 transition duration-300 hover:bg-[#e14d0b] focus-visible:ring active:bg-[#e14d0b] disabled:pointer-events-none disabled:opacity-50 dark:ring-zinc-200 dark:focus:outline-none 2xl:text-base"
                                        href="/contact"
                                        >Contact us to learn more</a
                                    >
                                </p>
                            </div><div class="space-y-6 lg:space-y-10">
                                <div class="flex">
                                    <div>
                                        <h3
                                            class="text-base font-bold text-neutral-800 dark:text-neutral-200 sm:text-lg"
                                        >
                                            Recognition As A Service
                                        </h3><p
                                            class="mt-1 text-neutral-600 dark:text-neutral-400"
                                        >
                                            Upload an unlimited number of files
                                            containing video footage in the
                                            required format of any length or
                                            photos for processing into a
                                            downloadable CSV file which contains
                                            all the captured number plates.
                                        </p>
                                    </div>
                                </div><div class="flex">
                                    <div>
                                        <h3
                                            class="text-base font-bold text-neutral-800 dark:text-neutral-200 sm:text-lg"
                                        >
                                            Access MicroANPR from anywhere
                                        </h3><p
                                            class="mt-1 text-neutral-600 dark:text-neutral-400"
                                        >
                                            Users can access MicroANPR from any
                                            Internet-connected computer or
                                            mobile device. Only public data (the
                                            licence plate) is collected, logged
                                            and converted to CSV.
                                        </p>
                                    </div>
                                </div><div class="flex">
                                    <div>
                                        <h3
                                            class="text-base font-bold text-neutral-800 dark:text-neutral-200 sm:text-lg"
                                        >
                                            Versatility
                                        </h3><p
                                            class="mt-1 text-neutral-600 dark:text-neutral-400"
                                        >
                                            Pay per month and cancel at any
                                            time, or save 20% for 12 months and
                                            receive 12 months service for the
                                            price of 10.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div id="tabs-with-card-2" class="hidden" role="tabpanel">
                    <div
                        class="mx-auto max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8 lg:pb-14"
                    >
                        <div
                            class="grid w-full grid-cols-1 gap-x-16 md:grid-cols-2"
                        >
                            <div class="max-w-md space-y-6">
                                <div>
                                    <h3
                                        class="block font-bold text-neutral-800 dark:text-neutral-200"
                                    >
                                        Automate the manual data entry of number
                                        plate presence.
                                    </h3><p
                                        class="text-neutral-600 dark:text-neutral-400"
                                    >
                                        Export the CSV file which contains all
                                        the captured number plates to a
                                        Spredsheet or Data dase.
                                    </p>
                                </div>
                                <div>
                                    <h3
                                        class="block font-bold text-neutral-800 dark:text-neutral-200"
                                    >
                                        Save the data and not the footage.
                                    </h3><p
                                        class="text-neutral-600 dark:text-neutral-400"
                                    >
                                        minimise the storage usage and cost by
                                        not storing hours/weeks/months/years of
                                        video footage.
                                    </p>
                                </div><div>
                                    <h3
                                        class="block font-bold text-neutral-800 dark:text-neutral-200"
                                    >
                                        A virtual private server(VPS).
                                    </h3><p
                                        class="text-neutral-600 dark:text-neutral-400"
                                    >
                                        The hardware and software is provisioned
                                        and configured solely for your use.
                                    </p>
                                </div>
                            </div><div
                                class="mt-6 max-w-md space-y-6 md:ml-auto md:mt-0"
                            >
                                <div>
                                    <h3
                                        class="block font-bold text-neutral-800 dark:text-neutral-200"
                                    >
                                        User Interfaces
                                    </h3><p
                                        class="text-neutral-600 dark:text-neutral-400"
                                    >
                                        User login page provides access to the
                                        relevant MicroANPR features for the
                                        Administrator or Operator.
                                    </p>
                                </div><div>
                                    <h3
                                        class="block font-bold text-neutral-800 dark:text-neutral-200"
                                    >
                                        Users
                                    </h3><p
                                        class="text-neutral-600 dark:text-neutral-400"
                                    >
                                        Are able Create, Read, Update & Delete
                                        Administrators and Operators.
                                    </p>
                                </div><div>
                                    <h3
                                        class="block font-bold text-neutral-800 dark:text-neutral-200"
                                    >
                                        Dashboard
                                    </h3><p
                                        class="text-neutral-600 dark:text-neutral-400"
                                    >
                                        Upload images/photos. 
                                        Upload video footage.
                                        Download a copy of the processed data.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div id="tabs-with-card-3" class="hidden" role="tabpanel">
            <div class="mx-auto mb-20 flex w-full md:mb-28 2xl:w-4/5">
                <div
                    class="relative left-12 top-12 z-10 overflow-hidden rounded-xl shadow-lg md:left-12 md:top-16 md:-ml-12 lg:ml-0"
                >
                    <Image
                        src={ImgDash2}
                        class="h-full w-full object-cover object-center"
                        loading={"eager"}
                        alt="Blueprint Illustration"
                        width="1920"
                        height="1080"
                        loading="lazy"
                    />
                </div>
                <div
                    class="relative right-12 overflow-hidden rounded-xl shadow-xl"
                >
                </div>
            </div>
        </div>
    </main>
</div>
