---
import { Image } from "astro:assets";
import ImgMain from "../images/plate2.avif";
---

<div
    class="flex flex-col items-center justify-between space-y-2 "
>
    <div id="fadeInUp">
        <h1
            class="block text-balance text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-6xl lg:text-6xl lg:leading-tight"
        >
            Automatic Number Plate Recognition (ANPR)
            <span class="text-teal-800 dark:text-teal-400"> as a service </span>
        </h1>
    </div>
    </div>
</div>
